<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftx.saysomthing.dao.MainMapper">
    <insert id="insertContent" parameterType="com.ftx.saysomthing.model.Content">
        insert into content(id,author,content,times,zan) values(#{id},#{author},#{content},#{times},0)
    </insert>
    <insert id="insertPictures" parameterType="com.ftx.saysomthing.model.Pictures">
        insert into pictures(id,contentid,picurl,picname) values(#{id},#{contentid},#{picurl},#{picname})
    </insert>

</mapper>
