<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftx.saysomthing.dao.MainMapper">
    <insert id="insertContent" parameterType="com.ftx.saysomthing.model.Content">
        insert into content(id,author,content,times,zan) values(#{id},#{author},#{content},#{times},0)
    </insert>
    <insert id="insertPictures" parameterType="com.ftx.saysomthing.model.Pictures">
        insert into pictures(id,contentid,picurl,picname) values(#{id},#{contentid},#{picurl},#{picname})
    </insert>
    <select id="getAllContent" resultType="com.ftx.saysomthing.model.ContentVo">
    SELECT
    a.id,
	a.content,
	a.times,
	a.zan,
	c.username,
	c.toppicurl
    FROM
	content a
	LEFT JOIN userlist c ON c.account = a.author
	order by times desc
    </select>
    <select id="getPicturesByContentId" parameterType="java.lang.String" resultType="java.util.Map">
        select * from pictures where contentid=#{contentId}
    </select>
    <select id="getUserIdByAccountAndPwd" parameterType="java.util.Map" resultType="com.ftx.saysomthing.model.User">
        select * from userlist where account=#{account} and pwd=#{pwd}
    </select>
    <insert id="registerToUserList" parameterType="java.util.Map">
        insert into userlist values (#{id},#{account},#{username},#{password},#{imageUrl})
    </insert>
    <insert id="toZan" parameterType="java.util.Map">
        insert into zanlist values(#{id},#{user},#{contentid})
    </insert>
    <update id="changeZanNum" parameterType="java.lang.String">
        update content set zan=zan+1 where id=#{contentid}
    </update>
    <select id="juigeIsZan" parameterType="java.util.Map" resultType="java.lang.String">
        select id from zanlist where user=#{user} and contentid=#{contentid}
    </select>
    <delete id="delZanByContentId" parameterType="java.lang.String">
        delete from zanlist where id=#{id}
    </delete>
    <update id="RemoveZanNum" parameterType="java.lang.String">
        update content set zan=zan-1 where id=#{contentid}
    </update>
    <insert id="pinglun" parameterType="java.util.Map">
        insert into pinglun values(#{id},#{user},#{contentid},#{pinglun},#{pltime},#{userpicurl},#{account})
    </insert>
    <select id="getPingLunListByContentId" parameterType="java.lang.String" resultType="com.ftx.saysomthing.model.Pinglun">
        select * from pinglun where contentid=#{contentid} order by pltime asc
    </select>

</mapper>
